div.container_sections {
    width: 100%;
    height: 200vh;
    position: relative;
    background-color: $grey;

    div.menuContentBurguer {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 94%;
        padding: 15px;
        opacity: 0;
        bottom: 0;
        width: 320px;
        background-color: $bg-color;
        right: -100%;
        z-index: 2;

        @media (max-width: 425px) {
            width: 100%;
        }

        h2 {
            color: #f9f9f9;
        }

        &.animationMenu {
            animation: easeIn 0.5s forwards;

            @keyframes easeIn {
                0% {
                    opacity: 0.1;
                }
                100% {
                    opacity: 1;
                    right: 0;
                }
            }
        }

        &.closeBurger {
            animation: easeOut 0.5s forwards;

            @keyframes easeOut {
                0% {
                    opacity: 1;
                    right: 0;
                }
                100% {
                    opacity: 0;
                    right: -100%;
                }
            }
        }

        div.profilesBurger {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;

            a.profilesGroup {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 10px;
                border-radius: 4px;
                color: $grey;
                border: 1px solid $grey;

                @media (max-width: 425px) {
                    width: 270px;
                }
    
                img {
                    height: 60px;
                    border-radius: 4px;
                    width: auto;
                }
    
                &:hover {
                    color: $white;
                    border: 1px solid $white;
                }
            }
        }

        div.footer {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            
            
            span {
                text-align: center;
                color: #f9f9f9;
            }
            
        }
    }
}