header.header_home {
    width: 100%;
    padding: 50px;

    @media (max-width: 425px) {
        padding: 0;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 146px;
        height: auto;
    }
}

header.header_sections {
    width: 100%;
    height: 8vh;
    padding: 0px 50px;
    position: fixed;
    z-index: 5;
    background-color: transparent;

    nav {
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;


        div.navProfiles {
            display: flex;
            align-items: center;
            gap: 25px;

            img {
                height: 30px;
                width: auto;
            }

            div.navItems {
                display: flex;
                gap: 15px;

                a {
                    color: $link-color;
                    cursor: pointer;
                    font-size: 14px;
                    transition: color .4s;

                    &.active {
                        color: $white;
                        font-weight: 500;
                        font-size: 15px;
                    }

                    &:not(.active):hover {
                        color: $link-color-hover;
                    }
                }
            }
        }



        div.oterList {
            display: flex;
            gap: 15px;

            img {
                height: 30px;
                width: auto;
                border-radius: 4px;
            }

            div.split-button {
                position: relative;
                display: flex;
                align-items: center;
                height: 60px;
                border-radius: 8px;

                button {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    border: 0;
                    background: transparent;
                    cursor: pointer;
                    color: #f9f9f9;
                    font-size: 14px;

                    &:nth-child(2) {
                        width: 60px;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }

                    span#chevron {
                        transition: transform 367ms cubic-bezier(.21, 0, .07, 1);
                        border-color: $white transparent transparent;
                        border-style: solid;
                        border-width: 5px 5px 0;
                        height: 0;
                        margin-left: 10px;
                        width: 0;
                        font-size: 0;

                        &.rotate {
                            transform: rotate(180deg);
                        }
                    }
                }


                div.menu {
                    overflow: hidden;
                    position: absolute;
                    padding: 6px 0px;
                    left: -150px;
                    top: 68px;
                    z-index: 1;
                    width: 200px;
                    translate: 0px -30px;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 2px;
                    background: rgb(0 0 0 / 40%);
                    background: rgba(0, 0, 0, 0.8);
                    transition: 0.4s;

                    &.open {
                        translate: 0 0;
                        opacity: 1;
                        visibility: visible;
                    }

                    button {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 0 18px;

                        a.profilesGroup {
                            display: flex;
                            gap: 8px;
                            align-items: center;


                            img {
                                border-radius: 4px;
                            }

                            span {
                                display: inline-block;
                                line-height: 14px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                vertical-align: middle;
                                white-space: pre;
                                width: 100px;
                            }

                            &:hover>span {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .burger {
            position: relative;
            width: 30px;
            height: 20px;
            background: transparent;
            cursor: pointer;
        }

        .burger input {
            display: none;
        }

        .burger span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #f9f9f9;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }

        .burger span:nth-of-type(1) {
            top: 0px;
            transform-origin: left center;
        }

        .burger span:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
            transform-origin: left center;
        }

        .burger span:nth-of-type(3) {
            top: 100%;
            transform-origin: left center;
            transform: translateY(-100%);
        }
    }
}